@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #ffffff;
    --text-primary: #000000;
    --accent-primary: #D52B1E;
    --accent-secondary: #FECB00;
  }

  .dark {
    --bg-primary: #1a1a1a;
    --text-primary: #ffffff;
    --accent-primary: #D52B1E;
    --accent-secondary: #FECB00;
  }
}

/* Font settings */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-title;
  }

  h2, h3 {
    @apply font-subtitle;
  }

  body {
    @apply font-body bg-theme-bg text-theme-text;
  }
}